body {
  width: 100%;
  max-width: 48em;
  margin: 0 auto;
  padding: 1em 1em 6em;
  word-break: keep-all;
}

div.highlighter-rouge pre {
  margin-bottom: 0;
}

div.highlighter-rouge + div {
  margin-bottom: 0em;
}

/*
 * Non-text blocks such as codes, outputs and tables
 */
body > div {
  overflow-x: scroll;
  padding: 0.5em 1em 0.5em calc(1em - 3px);
  margin: 0.5em -1em 0.5em;
  line-height: 1.8;
  border-left: 3px solid #F1F1F1;
}

/*
 * Code blocks
 */
body > .language-python.highlighter-rouge {
  background-color: #F4F4F4;
  border-left-width: 0;
}

table {
  margin: 0.6em 0;
  border: 1px solid #CCC;

  th, td {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    padding: 0.2em 0.5em;
    text-align: right;
    white-space: nowrap;
  }
}

div + p {
  margin-top: 2em;
}

hr {
  margin: 5em 0;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}

h2 + p {
  font-weight: bold;
}

h2 + p + p {
  font-weight: bold;
}

h2 + p + p + p {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 3.5em;
  margin-bottom: 0.6em;
}
