<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta property="og:url" content="https://dataitgirls2.github.io/10minutes2pandas/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="판다스 10분 완성 / 10 Minutes to Pandas">
  <meta property="og:image" content="https://raw.githubusercontent.com/dataitgirls2/10minutes2pandas/master/_layouts/og_image.png">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TJCKXNH');</script>
  <!-- End Google Tag Manager -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
{{ content }}
</body>
</html>
